@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}
  


body{
    margin: 0;
    padding: 0;
    background: var(--Very-Light-blue, #ECF2FF);
}

.outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 736px;
    min-height: 512px;
    margin: 100px auto;
    border-radius: 32px;
    background: white;
    gap: 40px;
}

.outer-container .result {
    /*border: 3px solid red;*/
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50%;
    border-radius: 32px;
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
    
}

.outer-container .result .your-result{
    display: block;
    margin: 38px auto 35px auto;
    color: var(--Light-Blue, #CAC9FF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading M */
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.outer-container .result .score-circle {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: var( --Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.5) 100%, rgba(37, 33, 201, 1) 100%));
}

.score-circle .score {
    display: block;
    padding-top: 55px;
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading XL */
    font-family: Hanken Grotesk;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px; /* 100% */
}
.score-circle .of-100 {
    margin-top: 5px;
    color: var(--Light-Blue, hsla(241, 100%, 89%, 0.507));
    display: block;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body (Bold) */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.result .comment {
    color: var(--White, #ffffffdf);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading L */
    font-family: Hanken Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin-top: 28px;
}

.result .repport {
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 66%;
    margin: 28px auto;
}

.outer-container .summary {
    /*border: 3px solid red;*/
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(50% - 40px);
}

.outer-container .summary .title {
    margin: 38px auto 28px auto;
    color: var(--Dark-Navy, #303B59);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading M */
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
}

.outer-container .summary .repport > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: calc(100% - 40px);
    flex-shrink: 0;
    border-radius: 12px;
    margin-bottom: 16px;
    font-size: 18px;
}

.summary .repport > div .item-title span , .summary .repport > div .score {

    font-feature-settings: 'clig' off, 'liga' off;
    /* Body */
    font-family: Hanken Grotesk;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.summary .repport > div .item-title {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
} 


.summary .repport > div .score {
    margin-right: 16px;
    margin-left: 8px;
    color: var(--Light-Navy, #303b5990);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (Bold) */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.summary .repport > div .score span {
    margin-right: 8px;
    color: var(--Dark-Navy, #303b59);
}


.outer-container .summary .repport > div:nth-child(1) {
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
}

.outer-container .summary .repport > div:nth-child(1) .item-title span {
    color: var(--Red, #F55);
}

.outer-container .summary .repport > div:nth-child(2) {
    background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);}

.outer-container .summary .repport > div:nth-child(2) .item-title span {
    color: var(--Yellow, #FFB21E);
}

.outer-container .summary .repport > div:nth-child(3) {
    background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);}

.outer-container .summary .repport > div:nth-child(3) .item-title span {
    color: var(--Green, #00BB8F);
}
.outer-container .summary .repport > div:nth-child(4) {
    background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
    margin-bottom: 0;
}

.outer-container .summary .repport > div:nth-child(4) .item-title span {
    color: var(--Blue, #1125D6);
}

.outer-container .summary button {
    border-radius: 128px;
    background: var(--Dark-Navy, #303B59);
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (Bold) */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 56px;
    width: calc(100% - 40px);
    margin-top: 41px;
} 

.outer-container .summary button:hover {
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
}

@media screen and (max-width : 755px) {
    .outer-container{
        flex-direction: column;
        justify-content: space-between;
        max-width: 357px;
        min-height: 809px;
        margin: 0 auto;
        border-radius: 0;
        gap: 24px;
    }
    .outer-container .result {
        /*border: 3px solid red;*/
        flex-basis: auto;
        border-radius: 0 0 32px 32px;
        
    }
    .outer-container .result .your-result{
        font-size: 20px;
        margin: 24px auto;
    }
    .outer-container .result .score-circle {
        height: 140px;
        width: 140px;
    }
    .outer-container .result .score-circle .score{
        font-size: 57px;
        padding-top: 37px;
        line-height: 57px;
    }
    .outer-container .result .score-circle .of-100{
        margin-top: 4px;
        font-size: 16px;
    }
    .outer-container .result .comment {
        font-size: 26px;
        margin-top: 24px;
    }
    .outer-container .result .repport{
        font-size: 16px;
        margin: 8px auto 40px auto;
        width: 80%;
    }

    .outer-container .summary .title{
        margin: 0 auto;
        font-size: 18px;

    }
    .outer-container .summary{
        flex-basis: auto;
        display: block;
        margin: 0 auto;
        min-width: 315px;
    }
    .outer-container .summary .repport{
        margin-top: 24px;

    }
    .outer-container .summary .repport > div {
        width: 100%;
        font-size: 16px;
    }
    .outer-container .summary button {
        margin: 24px auto;
        width: 100%;
    }
}